@model Domain.Entities.User

<p>
    <h3>Hi @Model.Username!</h3>
    Social Network: @Model.SocialNetworkName<br />
    UserID in DB: @Model.Id<br />
    Social Network UserID: @Model.UserID<br />
    Token: @Model.Token
</p>